---
layout: default
title: Andrew Petro
homepage: http://apetro.github.io
---

<div>
  <h1>Building Blocks</h1>
  <p>Enhance your understanding of the building blocks that we use as developers.</p>
  {% for post in site.categories.building-blocks %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Programming Paradigms</h1>
  <p>Learn a variety of programming paradigms.</p>
  {% for post in site.categories.paradigms %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Testing</h1>
  <p>Learn to test effectively.</p>
  {% for post in site.categories.testing %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Tools</h1>
  <p>Become adept at tools of the trade.</p>
  {% for post in site.categories.tools %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Platforms</h1>
  <p>Experience the ins and outs of programming for different platforms.</p>
  {% for post in site.categories.platforms %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Writing and Communicating</h1>
  <p>Writing clearly is a tool for thinking clearly.  It is also a way to communicate, in our projects, in our profession.</p>
  {% for post in site.categories.writing %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Wisdom</h1>
  <p>Enlighten yourself with koans, katas, and the wisdom of ages.</p>
  {% for post in site.categories.wisdom %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Openness</h1>
  <p>Program in the open.</p>
  {% for post in site.categories.open %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>

<div>
  <h1>Teach</h1>
  <p>Learn by teaching others.</p>
  {% for post in site.categories.teaching %}
  <div class="{{ post.status }}">
    <h2>{{ post.title }}</h2>
    <time>{{ post.time }}</time>
    <article>
      {{ post.content }}
    </article>
  </div>
  {% endfor %}
</div>
